<!DOCTYPE html> <!-- 1. 문서 버전 -->
<html lang="ko"> <!-- 2. 시용 언어 -->
{% load static %}

<head> <!-- 3. 문서의 정보 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>

<body>
    <header> <!-- 4. 페이지의 주요 정보 -->
        <h1>Login</h1>
    </header>

    <main> <!-- 5. 페이지의 주요 콘텐츠 -->
        <section class="login">
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                <br>
                <br>
                <br>
                {% csrf_token %}
                <label for="username" class="larger-label25">Username </label>
                <input type=" text" id="username" name="username" required>
                <br>
                <br>
                <br>
                <label for="password" class="larger-label25">Password </label>
                <input type="password" id="password" name="password" required>
                <br>
                <br>
                <br>
                <a href="{% url 'signup' %}" class="larger-label20">회원가입</a>
                <button type="submit" class="larger-label20">Login</button>
                <br><br><br>
            </form>
        </section>
</body>

</html>